body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    text-align: center;
    padding: 20px;
}

h1 {
    color: #333;
}

#searchInput {
    margin-bottom: 20px;
    padding: 10px;
    width: 50%; /* Adjust the width to make it more narrow */
    box-sizing: border-box;
}

#myList {
    margin: 0 auto;
    width: fit-content;
    text-align: left;
    display: none; /* Hide the list initially */
}

#myList div {
    padding: 8px;
    margin-bottom: 5px;
    background-color: #fff;
    border: 1px solid #ddd;
    width: fit-content;
}

#myList div a {
    text-decoration: none;
    color: #007BFF;
}

#myList div a:hover {
    text-decoration: underline;
}
